<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToHome()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.TITLE_PAYMENTS }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <img [src]="_PATH_FILES.PAYMENY.SRC" [alt]="_PATH_FILES.PAYMENY.ALT">
    </ion-card-content>
  </ion-card>
</ion-content>