<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToHome()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.TITLE_LIST_OF_ORDER}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <h1 ion-text color="cs-blue"><b>{{ _GENERAL.TITLE_TEXT.CART }}</b></h1>
      </ion-card-title>
      <ion-row>
        <ion-col text-left>
          <h1 ion-text color="dark"><b>{{ _GENERAL.TITLE_TEXT.TITIE_MENU }}</b></h1>
        </ion-col>
        <ion-col text-center>
          <h1 ion-text color="dark"><b>{{ _GENERAL.TITLE_TEXT.TITLE_AMOUNT }}</b></h1>
        </ion-col>
        <ion-col text-right>
          <h1 ion-text color="dark"><b>{{ _GENERAL.TITLE_TEXT.TITLE_SUMMARY_PRICE }}</b></h1>
        </ion-col>
      </ion-row>

      <ion-list no-padding *ngFor="let menu of orderList">
        <ion-item>
          <ion-row>
            <ion-col text-left>
              <h2 ion-text color="gray"><b>{{ menu.name }}</b></h2>
            </ion-col>
            <ion-col text-center>
              <h2 ion-text color="cs-blue"><b>{{ menu.amount }}</b></h2>
            </ion-col>
            <ion-col text-right>
              <h2 ion-text color="cs-blue"><b>{{ menu.amountPrice }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-row>
        <ion-col text-left>
          <h1 ion-text color="dark"><b>{{ _GENERAL.TITLE_TEXT.TITLE_TOTAL_PRICE }}</b></h1>
        </ion-col>
        <ion-col text-right>
          <h1 ion-text color="cs-blue"><b>{{ totalPrice }}</b></h1>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <h1 ion-text color="cs-blue"><b>{{ _GENERAL.TITLE_TEXT.ADDRESS_DELIVERY }}</b></h1>
      </ion-card-title>
      <ion-list no-lines>
        <ion-item>
          <ion-label>{{ locationStr }}</ion-label>
          <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()" value="foo" checked="true"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isToggled">
    <ion-card-content>
      <form [formGroup]="userProfileForm"  (ngSubmit)="onSubmitSendOrder()">
        <ion-list no-lines>
          <ion-item>
            <ion-label floating>{{ _GENERAL.TITLE_TEXT.NAME_LASTNAME }}</ion-label>
            <ion-input formControlName="name" type="text" value=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ _GENERAL.TITLE_TEXT.ADDRESS }}</ion-label>
            <ion-input formControlName="address" type="text" value=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ _GENERAL.TITLE_TEXT.TEL }}</ion-label>
            <ion-input formControlName="telephone" maxLength="10" type="number" value=""></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isToggled">
    <ion-card-content>
      <form [formGroup]="userProfileFormCurrent">
        <ion-list no-lines>
          <ion-item>
            <ion-label floating>{{ _GENERAL.TITLE_TEXT.NAME_LASTNAME }}</ion-label>
            <ion-input formControlName="name" type="text" value=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ _GENERAL.TITLE_TEXT.ADDRESS }}</ion-label>
            <ion-input formControlName="address" type="text" value=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ _GENERAL.TITLE_TEXT.TEL }}</ion-label>
            <ion-input formControlName="telephone" type="number" value=""></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
  <button ion-button full color="primary" type="submit" (click)="onSubmit()">{{ _GENERAL.TITLE_TEXT.SUBMIT }}</button>
</ion-content>