<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToHome()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.TITLE_PROFILE }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmitEditProfile()">

    <ion-item>
      <ion-label floating>{{ _GENERAL.TITLE_TEXT.USER_NAME }}</ion-label>
      <ion-input formControlName="username" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENERAL.TITLE_TEXT.NAME_LASTNAME }}</ion-label>
      <ion-input formControlName="name" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENERAL.TITLE_TEXT.ADDRESS }}</ion-label>
      <ion-input formControlName="address" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENERAL.TITLE_TEXT.TEL }}</ion-label>
      <ion-input formControlName="telephone" maxLength="10" type="number" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ _GENERAL.TITLE_TEXT.USER_TYPE }}</ion-label>
      <ion-input formControlName="userType" type="text" value=""></ion-input>
    </ion-item>

    <button ion-button full color="primary" style="margin-top: 20px;" type="submit">{{
      _GENERAL.TITLE_TEXT.EDIT_DETAIL}}</button>
  </form>

</ion-content>