<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToHome()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.TITLE_DETAIL_SHOP }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item text-center>
          <h1 ion-text color="cs-blue"><b>{{ _GENERAL.TITLE_TEXT.TITLE_INTRODUCE }}</b></h1>
        </ion-item>
        <ion-item text-wrap text-left>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_INTRODUCE_1 }}</b></h2>
        </ion-item>
        <ion-item text-wrap text-left>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_INTRODUCE_2 }}</b></h2>
        </ion-item>
        <ion-item text-wrap text-left>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_INTRODUCE_3 }}</b></h2>
        </ion-item>
        <ion-item text-wrap text-left>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_INTRODUCE_4 }}</b></h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>