<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.WELCOME }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="changePageToListOrder()">
        <ion-icon ios="ios-basket" md="md-basket"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar> -->

  <ion-card *ngFor="let item of dataResults">
    <img [ngClass]="{'img-gray-scale': item.outOfStock === true}" src="{{item.imgUrl}}" />
    <ion-card-content>
      <ion-card-title text-center>
        <h1 ion-text color="cs-blue"><b>{{ item.name }}</b></h1>
      </ion-card-title>
    </ion-card-content>

    <ion-row>
      <ion-col text-right>
        <h2 ion-text color="gray">
          <b>{{ _GENERAL.TITLE_TEXT.PRICE }}</b>
        </h2>
      </ion-col>
      <ion-col text-center>
        <h1 ion-text color="cs-blue">
          <b>{{ item.price }}</b>
        </h1>
      </ion-col>
      <ion-col text-left>
        <h2 ion-text color="gray">
          {{ item.unit }}
        </h2>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!item.outOfStock">
      <ion-col text-right>
        <h2 ion-text color="gray">
          <b>{{ _GENERAL.TITLE_TEXT.TITLE_AMOUNT }}</b>
        </h2>
      </ion-col>
      <ion-col text-center>
        <h1 ion-text color="cs-blue" (click)="updateAmountNew(item)">
          <b>{{ item.amount }}</b>
        </h1>
      </ion-col>
      <ion-col text-left>
        <h2 ion-text color="gray">
          <b>{{ _GENERAL.TITLE_TEXT.TEXT_UNIT }}</b>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="item.outOfStock">
      <ion-col text-center>
        <h2 ion-text color="danger">{{ _GENERAL.TITLE_TEXT.TEXT_OUT_OF_STOCK }}</h2>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>