<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToInvoice()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.BUTTON_UPLOAD_PAYMENTS }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{ _GENERAL.TITLE_TEXT.SELECT_BANK }}</ion-label>
          <ion-select [(ngModel)]="selectBank" [cancelText]="_GENERAL.ALERT.TEXT_CANCEL" [okText]="_GENERAL.ALERT.TEXT_SUBMIT">
            <ion-option *ngFor="let abbreviation of abbreviationBank" [value]="abbreviation">
              {{ abbreviation }}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div>
        <ion-list>
          <ion-item [innerHTML]="showDetailBank()">
          </ion-item>
        </ion-list>
      </div>
      <img [src]="imageData ? imageData : _PATH_FILES.LOGO.SRC" style="width: 80%; margin: auto; margin-top: 1.5rem; margin-bottom: 1.5rem;" [alt]="imageData ? '' : _PATH_FILES.LOGO.ALT">
      <button ion-button full (click)="takePhoto()">
        {{ _GENERAL.INVOICE_DETAIL.TAKE_PHOTO }}
      </button>
      <button ion-button full (click)="getPicture()">
        {{ _GENERAL.INVOICE_DETAIL.PICTURE }}
      </button>
      <button ion-button full (click)="saveDetailOrder()">
        {{ _GENERAL.INVOICE_DETAIL.UPLOAD_PROOF_OF_PAYMENT }}
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>