<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToPreviousPage()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.TITLE_USER_PROFILE_STAFF}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="staffProflie">
    <ion-card-content>
      <ion-list no-lines>
        <ion-item text-center>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TITLE_USER_PROFILE_STAFF }}</b></h2>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-4 text-left>
              <h2 ion-text color="gray"><b>{{ _GENERAL.TITLE_TEXT.NAME_LASTNAME }}</b></h2>
            </ion-col>
            <ion-col col-8 text-right>
              <h2 ion-text color="cs-blue"><b>{{ staffProflie.name }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-4 text-left>
              <h2 ion-text color="gray"><b>{{ _GENERAL.TITLE_TEXT.TEL }}</b></h2>
            </ion-col>
            <ion-col col-8 text-right>
              <h2 ion-text color="cs-blue"><b>{{ staffProflie.telephone }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="isInvoicePage">
    <ion-card-content>
      <ion-list no-lines>
        <ion-item *ngIf="showRateButton()">
          <button ion-button large block color="secondary" (click)="sendRatesTimeToDriver()">
            {{ _GENERAL.TITLE_TEXT.BUTTON_SEND_RATE_TIME }} </button>
        </ion-item>
        <ion-item *ngIf="this.detailOrder.sendDetails.rateMsg !== ''" text-center>
          <h2 ion-text color="danger"><b>{{ _GENERAL.TOAST.SEND_RATE_TIME }}</b></h2>
        </ion-item>
        <ion-item *ngIf="this.detailOrder.sendDetails.rateMsg !== ''">
          <ion-row>
            <ion-col>
              <h2 ion-text color="gray"><b>{{ _GENERAL.TITLE_TEXT.RATE_COMMENTS }}</b></h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2 ion-text color="cs-blue"><b>- {{ rateComment }}</b></h2>
            </ion-col>
          </ion-row>

        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>