<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToHome()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.TITLE_HISTORY_STATUS_OF_ORDER }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let order of invoiceDetails">
    <ion-card-content>
      <ion-card-title>
        <h2 ion-text color="cs-blue"><b>{{ _GENERAL.TITLE_TEXT.DETAIL }} : {{order.invoice}}</b></h2>
      </ion-card-title>
      <ion-list>
        <ion-item>
          <ion-row>
            <ion-col col-3 text-left>
              <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.STATUS }} : </b></h2>
            </ion-col>
            <ion-col col-9 text-right>
              <h2 ion-text color="cs-blue"><b>{{ order.orderItems.status }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-list>
            <ion-item>
              <ion-row>
                <ion-col col-7 text-left>
                  <h3 ion-text><b>{{ _GENERAL.TITLE_TEXT.TITIE_MENU }}</b></h3>
                </ion-col>
                <ion-col col-3 text-right>
                  <h3 ion-text><b>{{ _GENERAL.TITLE_TEXT.TITLE_AMOUNT }}</b></h3>
                </ion-col>
                <ion-col col-2 text-right>
                  <h3 ion-text><b>{{ _GENERAL.TITLE_TEXT.UNIT_BATH }}</b></h3>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item *ngFor="let menu of order.orderItems.listOrder; let i = index">
              <ion-row>
                <ion-col col-7 text-left>
                  <h3 ion-text color="cs-blue"><b>{{ menu.name }}</b></h3>
                </ion-col>
                <ion-col col-3 text-right>
                  <h3 ion-text color="cs-blue"><b>{{ menu.amount }}</b></h3>
                </ion-col>
                <ion-col col-2 text-right>
                  <h3 ion-text color="cs-blue"><b>{{ menu.amountPrice }}</b></h3>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-7 text-left>
              <h3 ion-text><b>{{ _GENERAL.TITLE_TEXT.TOTAL_PRICE }}</b></h3>
            </ion-col>
            <ion-col col-3 text-right>
              <h3 ion-text color="cs-blue"><b> {{ order.orderItems.totalPrice }} </b></h3>
            </ion-col>
            <ion-col col-2 text-right>
              <h3 ion-text><b>{{ _GENERAL.TITLE_TEXT.UNIT_BATH }}</b></h3>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <button ion-button large block color="secondary" (click)="showInvoiceDetails(order)">
            {{ _GENERAL.TITLE_TEXT.BUTTON_SHOW_DETAILS }} </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>