<ion-menu [content]="navMenu">
    <ion-content padding>
        <ion-row style="margin-top: 2rem;">
            <ion-col>
                <div text-center>
                    <h2 ion-text>CSKPS Delivery</h2>
                </div>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 1.5rem;">
            <ion-col>
                <div text-center>
                    <img style="width: 120px; height: 120px;" src="../assets/imgs/sidenav/user.png">
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="getUserType() === 'C'" style="margin-top: 2rem;">
            <button ion-button block outline color="cs-blue" (click)="changePageToDetailShopPage()">รายละเอียดของร้าน</button>
        </ion-row>
        <ion-row *ngIf="getUserType() === 'C'">
            <button ion-button block outline color="cs-blue" (click)="changePageToInvoicePage()">สถานะการสั่งซื้อ</button>
        </ion-row>
        <ion-row *ngIf="getUserType() === 'C'">
            <button ion-button block outline color="cs-blue" (click)="changePageToHistoryInvoicePage()">ประวัติการสั่งซื้อ</button>
        </ion-row>
        <ion-row *ngIf="getUserType() === 'S'">
            <button ion-button block outline color="cs-blue" (click)="changePageToHistoryDeliveryPage()">ประวัติการส่งสินค้า</button>
        </ion-row>
        <ion-row>
            <button ion-button block outline color="cs-blue" (click)="changePageToProfilePage()">ข้อมูลผู้ใช้งาน</button>
        </ion-row>
        <ion-row *ngIf="getUserType() === 'C'">
            <button ion-button block outline color="cs-blue" (click)="changePageToPaymentsPage()">วิธีการชำระเงิน</button>
        </ion-row>
        <ion-row>
            <button ion-button block outline color="danger" (click)="signOut()">ออกจากระบบ</button>
        </ion-row>
    </ion-content>
</ion-menu>

<ion-nav #navMenu [root]="rootPage"></ion-nav>