<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToStaffHome()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.TITLE_DELIVERY_DETAIL_ORDER}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-content text-center>
      <ion-list no-lines>
        <ion-item text-center>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.DETAIL }}</b></h2>
        </ion-item>
        <ion-item text-center>
          <h1 ion-text color="cs-blue"><b>{{ invoiceDetail.invoice }}</b></h1>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item text-center>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TITLE_USER_PROFILE_CUSTOMER }}</b></h2>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-4 text-left>
              <h2 ion-text color="gray"><b>{{ _GENERAL.TITLE_TEXT.NAME_LASTNAME }}</b></h2>
            </ion-col>
            <ion-col col-8 text-right>
              <h2 ion-text color="cs-blue"><b>{{ customerProflie.name }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-4 text-left>
              <h2 ion-text color="gray"><b>{{ _GENERAL.TITLE_TEXT.ADDRESS }}</b></h2>
            </ion-col>
            <ion-col col-8 text-right>
              <h2 ion-text color="cs-blue"><b>{{ customerProflie.address }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-4 text-left>
              <h2 ion-text color="gray"><b>{{ _GENERAL.TITLE_TEXT.TEL }}</b></h2>
            </ion-col>
            <ion-col col-8 text-right>
              <h2 ion-text color="cs-blue"><b>{{ customerProflie.telephone }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item text-center>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TITLE_DETAIL_ORDER }}</b></h2>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-7 text-left>
              <h2 ion-text color="dark"><b>{{ _GENERAL.TITLE_TEXT.TITIE_MENU }}</b></h2>
            </ion-col>
            <ion-col col-3 text-right>
              <h2 ion-text color="dark"><b>{{ _GENERAL.TITLE_TEXT.TITLE_AMOUNT }}</b></h2>
            </ion-col>
            <ion-col col-2 text-right>
              <h2 ion-text color="dark"><b>{{ _GENERAL.TITLE_TEXT.TITLE_SUMMARY_PRICE }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item *ngFor="let order of invoiceDetail.orderItems.listOrder">
          <ion-row>
            <ion-col col-7 text-left>
              <h2 ion-text color="gray"><b>{{ order.name }}</b></h2>
            </ion-col>
            <ion-col col-3 text-right>
              <h2 ion-text color="cs-blue"><b>{{ order.amount }}</b></h2>
            </ion-col>
            <ion-col col-2 text-right>
              <h2 ion-text color="cs-blue"><b>{{ order.amountPrice }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-7 text-left>
              <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TOTAL_PRICE }}</b></h2>
            </ion-col>
            <ion-col col-3 text-right>
              <h2 ion-text color="cs-blue"><b> {{ invoiceDetail.orderItems.totalPrice }} </b></h2>
            </ion-col>
            <ion-col col-2 text-right>
              <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.UNIT_BATH }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item *ngIf="invoiceDetail.orderItems.status === _GENERAL.STATUS.OP">
          <ion-row>
            <ion-col col-6>
              <button ion-button large block color="secondary" (click)="addDelivery()">
                {{ _GENERAL.TITLE_TEXT.TITLE_DELIVERY_ADD }} </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button large block color="warning" (click)="dontDelivery()">
                {{ _GENERAL.TITLE_TEXT.TITLE_DONT_DELIVERY }} </button>
            </ion-col>
          </ion-row>

        </ion-item>
        <ion-item *ngIf="invoiceDetail.orderItems.status === _GENERAL.STATUS.OD">
          <ion-row>
            <ion-col col-12>
              <button ion-button large block color="secondary" (click)="submitDelivery()">
                {{ _GENERAL.TITLE_TEXT.TITLE_DELIVERY_COMPLETE }} </button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>