<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="changePageToStaffHome()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ _GENERAL.TITLE_TEXT.TITLE_DETAIL_DELIVERY }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item text-center>
          <h1 ion-text color="cs-blue"><b>{{ _GENERAL.TITLE_TEXT.TITLE_DETAIL_SHOP }}</b></h1>
        </ion-item>
        <ion-item style="margin-top: 1rem; margin-bottom: 1rem;">
          <img style="width: 120px; height: 120px; margin: auto;" src="../assets/imgs/sidenav/user.png">
        </ion-item>
        <ion-item text-center>
          <h2 ion-text color="cs-blue"><b>{{ _GENERAL.TITLE_TEXT.TEXT_OPEN_TIME_1 }}</b></h2>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_OPEN_TIME_2 }}</b></h2>
        </ion-item>
        <ion-item text-center>
          <h2 ion-text color="cs-blue"><b>{{ _GENERAL.TITLE_TEXT.TEXT_DELIVERY }}</b></h2>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_DELIVERY_LOCATION_1 }}</b></h2>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_DELIVERY_PRICE_1 }}</b></h2>
        </ion-item>
        <ion-item text-center>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_DELIVERY_LOCATION_2 }}</b></h2>
          <h2 ion-text><b>{{ _GENERAL.TITLE_TEXT.TEXT_DELIVERY_PRICE_2 }}</b></h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>