<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ this._GENERAL.TITLE_TEXT.TITLE_STAFF_HOME }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of invoiceDetails">
    <img src="../../assets/imgs/staff/img-staff.png" style="width: 80%; margin: auto; margin-top: 2rem;" />
    <ion-card-content>
      <ion-card-title>
        <ion-row>
          <ion-col col-6 text-left>
            <h2 ion-text><b>{{ this._GENERAL.TITLE_TEXT.ORDER_NO }}</b> : </h2>
          </ion-col>
          <ion-col col-6 text-right>
            <h2 ion-text color="cs-blue"><b>{{ item.invoice }}</b></h2>
          </ion-col>
        </ion-row>
      </ion-card-title>
      <ion-list>
        <ion-item>
          <ion-row>
            <ion-col col-4 text-left>
              <h2 ion-text>{{ _GENERAL.TITLE_TEXT.STATUS }} : </h2>
            </ion-col>
            <ion-col col-8 text-wrap text-center>
              <h2 ion-text color="cs-blue">{{ item.orderItems.status }}</h2>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item *ngIf="item.orderItems.sendDetails.rateFlag && item.orderItems.sendDetails.rateMsg === ''">
          <ion-row>
            <ion-col text-center>
              <h2 ion-text color="danger"><b>{{ _GENERAL.ALERT.TITLE_REPLY_CUSTOMER }}</b></h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <button ion-button large block color="danger" (click)="replyToCustomer(item)">
              {{ _GENERAL.TITLE_TEXT.TITLE_REPLY_USER }} </button>
          </ion-row>
        </ion-item>
        <ion-item>
          <button ion-button large block color="secondary" (click)="showInvoiceDetails(item)">
            {{ _GENERAL.TITLE_TEXT.BUTTON_SHOW_DETAILS }} </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="invoiceDetails.length === 0">
    <ion-card-content>
      <ion-card-title text-center>
        <h2 ion-text color="danger"><b>{{ _GENERAL.TITLE_TEXT.TEXT_NOT_FOUND }}</b></h2>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>